*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border: 22px outset #04cc04c2;
    height: 100vh;
}

.contenedor{
   margin-top: 40px;
   width: auto;
   height: auto;
   color: #008000;
   font-weight: bold;
}

.titulo{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.formulario_cantidad{
    margin: auto;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: 120px;
}

#txtCantidad{
    margin-bottom: 20px;
    width: 220px;
    height: 25px;
    padding: 5px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
}

.boton_ingresar{
    width: 150px;
    height: 35px;
    border: 2px solid #008000;
    border-radius: 10px;
    background-color: #008000;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    transition: .5s;
}

.consulta{
    width: 150px;
    height: 40px;
    text-decoration: none;
    padding: 5px;
    border: 2px solid #ff00ff;
    border-radius: 5px;
    margin-left: 80px;
    background-color: #ff00ff;
    color: #ffffff;
    cursor: pointer;
    transition: .5s;
}

.boton_ingresar:hover{
    border: 2px solid #008000;
    border-radius: 10px;
    background-color: white;
    color: #008000;
    transition: .5s;
}

.consulta:hover{
    border: 2px solid #ff00ff;
    background-color: #ffffff;
    color: #ff00ff;
    cursor: pointer;
    transition: .5s;
}

.subtitulo{
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;  
}

.formulario_calcular{
    margin: auto;
    margin-top: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
}

.txtNota{
    margin-bottom: 20px;
    width: 295px;
    height: 25px;
    padding: 5px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
}

.boton_calcular{
    width: 150px;
    height: 35px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: blue;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    transition: .5s;
}

.boton_calcular:hover{
    border: 2px solid #0000ff;
    border-radius: 10px;
    background-color: white;
    color: #0000ff;
    transition: .5s;
}