body{
    font-family: Tahoma;
    font-size: 14px;
}

#centrado{
    text-align: center;
}

img{
    width: 800px;
    height: 450px;
    display: block;
    margin: auto;
}

section{
    margin-top: 30px;
}

table{
    margin: auto;
    width: 800px;
}

#formulario{
    margin-bottom: 20px;
}

#titulo{
    text-align: center;
}

#error{
    color: #ff0000;
    font-size: 12px;
}

#datos{
    text-align: center;
}

#footer{
    text-align: center;
}