body{
    font-family: Tahoma;
    font-size: 14px;
}

#centrado{
    text-align: center;
}

img{
    width: 800px;
    height: 450px;
    display: block;
    margin: auto;
}

table{
    margin: auto;
    width: 800px;
}