*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #808080;
    font-size: 15px;
}

section{
    margin-top: 30px;
}

table{
    margin: auto;
    width: 800px;
}


#formulario{
    margin-bottom: 20px;
}

#formulario_titulo{
    text-align: center;
}

.comprador{
    width: 400px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #000000;
    background-color: #ffffff;
}

.fecha{
    width: 400px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #000000;
    background-color: #ffffff;
}

.adultos{
    width: 400px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #000000;
    background-color: #ffffff;
}

.ninios{
    width: 400px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #000000;
    background-color: #ffffff;
}

#error{
    color: #ff0000;
    font-size: 12px;
}

.boton{
    border: none; 
    color: #ffffff; 
    padding: 10px 30px; 
    cursor: pointer; 
    border-radius: 5px; 
    background-color: #008000;
    border: 2px solid #008000;
    margin-top: 10px;
    margin-bottom: 15px;
    transition: .5s;
}

.limpiar{
    border: none; 
    color: #ffffff; 
    padding: 10px 30px; 
    cursor: pointer; 
    border-radius: 5px; 
    background-color: #ff4500;
    border: 2px solid #ff4500;
    margin-top: 10px;
    margin-bottom: 15px;
    transition: .5s;
}

.nuevaCompra{
    border: none; 
    text-decoration: none;
    color: #ffffff; 
    padding: 10px 30px; 
    cursor: pointer; 
    border-radius: 5px; 
    background-color: #00a6ff;
    border: 2px solid #00a6ff;
    margin-top: 10px;
    margin-bottom: 15px;
    transition: .5s;
}

.boton:hover{
    border: 2px solid #008000;
    background: #ffffff; 
    color: #008000;
    transition: .5s;
}

.limpiar:hover{
    border: 2px solid #ff4500;
    background: #ffffff; 
    color: #ff4500;
    transition: .5s;
}

.nuevaCompra:hover{
    border: 2px solid #00a6ff;
    background: #ffffff; 
    color: #00a6ff;
    transition: .5s;
}

#tabla_superior{
    padding: 15px;
}

#tabla_resultados{
    padding: 10px;
}

#datos{
    text-align: center;
}

#footer{
    margin-top: 20px;
    text-align: center;
}
