.cuerpo{
    background-color: #808080;
    border: 20px solid #00e1ff9f;
    height: 100%;
}

.titulo{
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: bold;
    font-size: 60px;
    color: #ffff00;
}

.container{
    margin-bottom: 35px;
}
