*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border: 25px inset #0099ff;
    height: 100vh;
}

.titulo{
    margin-top: 50px;
    margin-bottom: 30px;
    color: #0099ff;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.seleccionar_fecha{
    background-color: #07cf009d;
}

.resultado_fecha{
    background-color: #0497ecb2;
}
