*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #acafb0;
}

body{
    border: 22px solid #0000ff;
    border-radius: 15px;
    height: 100vh;
}

#centrado{
    text-align: center;
    color: #0000ff;
    margin-top: 60px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

#tabla{
    margin: auto;
    font-size: 20px;
}

.nombre{
    padding: 5px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #000000;
    margin-bottom: 7px;
}

.prenda{
    padding: 5px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #000000;
    margin-bottom: 7px;
}

.horas{
    padding: 5px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #000000;
    margin-bottom: 7px;
}

.valor{
    padding: 5px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #000000;
    margin-bottom: 7px;
}

#btn_procesar{
    width: 100px;
    height: 40px;
    font-weight: bold;
    padding: 5px;
    margin-top: 25px;
    border-radius: 5px;
    border: 2px solid #0000ff;
    cursor: pointer;
    background: #0000ff;
    color: #f0f8ff;
    transition: .5s;
}

#btn_limpiar{
    width: 100px;
    height: 40px;
    font-weight: bold;
    padding: 5px;
    margin-top: 25px;
    border-radius: 5px;
    border: 2px solid #ff0000;
    cursor: pointer;
    background: #ff0000;
    color: #f0f8ff;
    transition: .5s;
}

#consulta{
    border: none; 
    text-decoration: none;
    font-size: 17px;
    color: #ffffff; 
    padding: 8px 20px; 
    cursor: pointer; 
    border-radius: 5px; 
    background-color: #0077ff;
    border: 2px solid #0077ff;
    margin-top: 10px;
    margin-bottom: 15px;
    transition: .5s;
}

#btn_procesar:hover{
    width: 100px;
    font-weight: bold;
    padding: 5px;
    margin-top: 25px;
    border-radius: 5px;
    border: 2px solid #0000ff;
    cursor: pointer;
    background: #ffffff;
    color: #0000ff;
}

#btn_limpiar:hover{
    width: 100px;
    font-weight: bold;
    padding: 5px;
    margin-top: 25px;
    border-radius: 5px;
    border: 2px solid #ff0000;
    cursor: pointer;
    background: #ffffff;
    color: #ff0000;
}

#consulta:hover{
    border: none; 
    text-decoration: none;
    color: #0077ff; 
    padding: 8px 20px; 
    cursor: pointer; 
    border-radius: 5px; 
    background-color: #f0f8ff;
    border: 2px solid #0077ff;
    margin-top: 10px;
    margin-bottom: 15px;
}

#impresion{
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
}

#vTotalT{
    color: #ff1100;
    font-weight: bold;
    font-size: 24px;
}

