*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #acafb0;
}

#centrado{
    text-align: center;
    color: #0000ff;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

table{
    margin: auto;
    font-size: 20px;
}

#impresion{
    text-align: center;
    margin-top: 20px;
}

#vTotalT{
    color: #ff1100;
    font-weight: bold;
    font-size: 16px;
}

