*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #acafb0;
}

#centrado{
    text-align: center;
    color: #0000ff;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#tabla{
    margin: auto;
    font-size: 20px;
}

.nombre{
    padding: 5px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #000000;
    margin-bottom: 7px;
}

.prenda{
    padding: 5px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #000000;
    margin-bottom: 7px;
}

#btn_procesar{
    width: 100px;
    font-weight: bold;
    padding: 5px;
    margin-top: 25px;
    border-radius: 5px;
    border: 2px solid #000000;
    cursor: pointer;
    background: #0000ff;
    color: #f0f8ff;
}

#btn_limpiar{
    width: 100px;
    font-weight: bold;
    padding: 5px;
    margin-top: 25px;
    border-radius: 5px;
    border: 2px solid #000000;
    cursor: pointer;
    background: red;
    color: #f0f8ff;
}

#btn_procesar:hover{
    width: 100px;
    font-weight: bold;
    padding: 5px;
    margin-top: 25px;
    border-radius: 5px;
    border: 2px solid #0000ff;
    cursor: pointer;
    background: #ffffff;
    color: #000000;
}

#btn_limpiar:hover{
    width: 100px;
    font-weight: bold;
    padding: 5px;
    margin-top: 25px;
    border-radius: 5px;
    border: 2px solid #ff0000;
    cursor: pointer;
    background: #ffffff;
    color: #000000;
}

#impresion{
    margin: auto;
    margin-top: 20px;
}

#vTotalT{
    color: #ff1100;
    font-weight: bold;
    font-size: 16px;
}

