body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#centrado{
    text-align: center;
}

img{
    width: 656px;
    height: 370px;
    margin: auto;
    display: block;
    border: 1px solid #c0c0c0;
}

table{
    margin: auto;
}

.sNeto{
    color: #0000ff;
    font-weight: bold;
    font-size: 14px;
}