*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: azure;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#centrado{
    text-align: center;
    color: #ff0000;
    margin-bottom: 20px;
    margin-top: 20px;
}

img{
    width: 656px;
    height: 370px;
    margin: auto;
    display: block;
    border: 1px solid #c0c0c0;
}

table{
    margin: auto;
}

.sNeto{
    color: #0000ff;
    font-weight: bold;
    font-size: 14px;
}