*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #00aeff;
}

body{
    font-size: 14px;
    font-family: Tahoma;
}

#centrado{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #ff0000;
    text-transform: uppercase;
}

img{
    width: 612px;
    height: 262px;
    display: block;
    margin: auto;
    border: solid 1px #000000;
}

table{
    margin: auto;
}

#titulo{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    color: #ff0000;
}

.error{
    color: #ff0000;
}

.boton{
    border: none; 
    color: black; 
    padding: 10px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    background-color: white;
    border: 2px solid #000000;
    margin-top: 10px;
    margin-bottom: 15px;
}

.boton:hover{
    border: 2px solid #ffffff;
    background: #000000; 
    color: white;
}

#monto_cancelar{
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
}