body{
    font-size: 14px;
    font-family: Tahoma;
}

#centrado{
    text-align: center;
}

img{
    width: 612px;
    height: 262px;
    display: block;
    margin: auto;
    border: solid 1px #000000;
}

table{
    margin: auto;
}

#titulo{
    text-align: center;
}

.error{
    color: #ff0000;
}

#monto_cancelar{
    color: #0084ff;
    font-weight: bold;
    font-size: 15px;
}