*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    background: #dad5d5;
}

body{
    font-size: 14px;
    font-family: Tahoma;
}

#centrado{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #ff0000;
    text-transform: uppercase;
}

img{
    width: 612px;
    height: 262px;
    display: block;
    margin: auto;
    border: solid 1px #000000;
}

table{
    margin: auto;
}

#titulo{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    color: #ff0000;
}

.nombre{
    width: 400px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
}

.selectCategoria{
    width: 400px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
}

.nota1{
    width: 80px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
}

.nota2{
    width: 80px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
}

.nota3{
    width: 80px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
}

.btn_calcular{
    font-weight: bold;
    border: none; 
    color: #ffffff; 
    padding: 4px 18px; 
    cursor: pointer; 
    border-radius: 5px; 
    background-color: #0000ff;
    border: 2px solid #0000ff;
    margin-top: 10px;
    margin-bottom: 15px;
}

.promedio{
    width: 80px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
}

.error{
    color: #ff0000;
}

.btn_procesar{
    font-weight: bold;
    border: none; 
    color: #ffffff; 
    padding: 10px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    background-color: #0000ff;
    border: 2px solid #0000ff;
    margin-top: 10px;
    margin-bottom: 15px;
}

.btn_limpiar{
    font-weight: bold;
    border: none; 
    color: #ffffff; 
    padding: 10px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    background-color: #ff0000;
    border: 2px solid #ff0000;
    margin-top: 10px;
    margin-bottom: 15px;
}

.btn_nueva{
    text-decoration: none;
    font-weight: bold;
    border: none; 
    color: #ffffff; 
    padding: 10px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    background-color: #0cdf0c;
    border: 2px solid #0cdf0c;
    margin-top: 10px;
    margin-bottom: 15px;
}

.btn_procesar:hover{
    border: none; 
    color: #0000ff; 
    padding: 10px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    background-color: #ffffff;
    border: 2px solid #0000ff;
    margin-top: 10px;
    margin-bottom: 15px;
}

.btn_limpiar:hover{
    border: none; 
    color: #ff0000; 
    padding: 10px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    background-color: #ffffff;
    border: 2px solid #ff0000;
    margin-top: 10px;
    margin-bottom: 15px;
}

.btn_nueva:hover{
    text-decoration: none;
    font-weight: bold;
    border: none; 
    color: #0cdf0c; 
    padding: 10px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    background-color: #ffffff;
    border: 2px solid #0cdf0c;
    margin-top: 10px;
    margin-bottom: 15px;
}

.boton:hover{
    border: 2px solid #ffffff;
    background: #000000; 
    color: #ffffff;
}

#monto_cancelar{
    color: #0000ff;
    font-weight: bold;
    font-size: 15px;
}